/* start header */
.header {
  min-height: 100vh;
  background-image: url("../Image/Layer1.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header__top {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  padding: 3.9rem 5rem;
  cursor: pointer;
}
.header__logo img {
  width: 5.3rem;
  height: 4.7rem;
}
.header__logo > p {
  align-self: center;
  font-size: 3rem;
  color: white;
  margin-left: 1.5rem;
  cursor: pointer;
}
.header__menu {
  display: flex;
  align-self: center;
  padding: 3.9rem 5rem;
}

.header__menu a {
  font-size: 2rem;
  color: var(--white);
  align-self: center;
  margin: 0 2rem;
}

.menu__icon {
  display: inline-block;
  width: 4rem;
  height: auto;
  margin-left: 2rem;
  cursor: pointer;
}

.menu__icon li {
  width: 100%;
  border: 3px solid white;
  border-radius: 1rem;
  background: white;
  margin: 0.4rem;
}

.menu__icon li:nth-of-type(2) {
  transform: translateX(-1rem);
  transition: transform 0.5s;
}

.menu__icon:hover li:nth-of-type(2) {
  transform: translateX(0);
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  z-index: 2;
  background: #7034f1;
  text-align: center;
  line-height: 5rem;
  transition: width 0.5s ease-out;
}

.menu__icon--close {
  display: inline-block;
  position: relative;
  margin-right: -20rem;
  cursor: pointer;
}

.menu__icon--close > li {
  width: 3rem;
  border: 3px solid white;
  background-color: white;
  position: absolute;
  top: 0;
}

.menu__icon--close > li:nth-of-type(1) {
  transform: rotate(45deg);
  transition: transform 0.4s ease-in;
}
.menu__icon--close > li:nth-of-type(2) {
  transform: rotate(-45deg);
  transition: transform 0.4s ease-in;
}

.menu__icon--close:hover > li:nth-of-type(1) {
  transform: rotate(-45deg);
}

.menu__icon--close:hover > li:nth-of-type(2) {
  transform: rotate(45deg);
}

.header__bottom {
  display: flex;
}
.header__bottom--left {
  align-self: center;
  flex-basis: 50%;
  margin-right: 9.7rem;
}

.header__bottom--left > h2 {
  font-size: 9rem;
  font-weight: 700;
  color: var(--light-green);
  margin-bottom: 0.5rem;
}

.header__bottom--left > h3 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 3rem;
}

.header__bottom--left > p {
  font-size: 1.7rem;
  color: var(--white);
  line-height: 3rem;
  margin-bottom: 8.3rem;
}

.header__bottom--left > a {
  font-size: 2rem;
  color: var(--white);
}

.header__bottom--left img {
  width: 44.7rem;
  height: 51.7rem;
}
/* responsive for header */
@media screen and (max-width: 1438px) {
  .header {
    min-height: 90vh;
  }
}
@media screen and (max-width: 1250px) {
  .header {
    min-height: 85vh;
  }
}
@media screen and (max-width: 1025px) {
  .header {
    min-height: 70vh;
  }
}
@media screen and (max-width: 768px) {
  .header {
    min-height: 65vh;
  }
}

/* end header */

/* start main */

.main__service {
  display: flex;
  flex-direction: column;
}
.main__service h2 {
  font-size: 5rem;
  color: var(--black);
  text-align: center;
  margin-bottom: 8.5rem;
}
.services {
  display: flex;
}
.services__item {
  flex-grow: 1;
  display: flex;
  flex-flow: column wrap;
  margin: 0 3.75rem;
}
.services__item img {
  width: 8.1rem;
  height: 8.1rem;
  align-self: center;
  filter: invert(35%) sepia(3%) saturate(247%) hue-rotate(314deg)
    brightness(89%) contrast(84%);
  margin-bottom: 3rem;
}

.services__item:hover img {
  filter: invert(14%) sepia(76%) saturate(5690%) hue-rotate(256deg)
    brightness(89%) contrast(90%);
}

.services__item h3 {
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  color: var(--black);
  align-self: center;
  margin-bottom: 1.8rem;
}

.services__item:hover h3 {
  color: var(--primary-color);
}

.services__item p {
  font-size: 1.7rem;
  line-height: 2.74rem;
  color: var(--gray-dark);
  text-align: center;
  margin-bottom: 7.4rem;
}

.btn__primary {
  align-self: center;
  width: 22.5rem;
  height: 5.7rem;
  border-radius: 10rem;
  border-color: transparent;
  background: var(--primary-color);
  font-size: 1.7rem;
  line-height: 2.74rem;
  color: var(--white);
  margin-bottom: 16.5rem;
}

.btn__primary:hover {
  background: #4620bb;
}

.main__feature {
  display: flex;
}
.main__feature--left {
  flex-basis: 50%;
  margin-bottom: 15.5rem;
}
.main__feature--right {
  flex-basis: 50%;
  align-self: center;
}
.main__feature--left img {
  width: 50.5rem;
  height: 49.5rem;
  align-self: center;
}
.main__feature--right h2 {
  font-size: 5rem;
  color: var(--black);
  margin-bottom: 2rem;
}
.main__feature--right p {
  font-size: 1.7rem;
  color: var(--black);
  line-height: 2.74rem;
}

.main__blog {
  margin-bottom: 24.7rem;
}

.main__blog > h2 {
  font-size: 5rem;
  color: var(--black);
  margin-bottom: 11.5rem;
}
.main__blog .blogs {
  display: flex;
}

.blogs .blogs__item {
  flex-basis: calc(100% / 3);
  margin: 0 1.5rem;
}

.blogs .blogs__item img {
  width: 30.5rem;
  height: 25rem;
  margin-bottom: 7.1rem;
  transition: transform 0.5s;
}

.blogs__item:hover img {
  transform: translateY(1rem);
}

.blogs .blogs__item h3 {
  font-size: 2.6rem;
  color: var(--black);
  line-height: 2.47rem;
}

.blogs .blogs__item p {
  font-size: 1.7rem;
  color: var(--black);
  line-height: 2.47rem;
}
.main__team {
  position: relative;
}
.main__team h2 {
  font-size: 5rem;
  color: var(--black);
  text-align: center;
  margin-bottom: 10rem;
}

.main__team .btn__slide {
  color: var(--gray-dark);
  font-size: 4rem;
  position: absolute;
  border: none;
  top: 35%;
  margin: 0 -3rem;
}

.btn__slide:first-child {
  left: 0;
}
.btn__slide:last-child {
  right: 0;
}
.team {
  display: flex;
  overflow: hidden;
  /* flex-flow: row wrap; */
}

.team .member {
  flex-basis: calc(100% / 3);
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
  transition: transform 0.5s ease-in;
}

.member .member__ava {
  background: var(--primary-color);
  width: 35.3rem;
  height: 37.9rem;
  display: flex;
  justify-content: center;
  border-radius: 3rem;
  margin-bottom: 2.5rem;
}
.member .member__ava img {
  width: 25.8rem;
  height: 26.2rem;
  align-self: center;
}
.member .member__name {
  font-family: var(--secondary-font);
  font-size: 2.2rem;
  color: var(--black);
  align-self: center;
  margin-bottom: 1rem;
}

.member .member__position {
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  color: var(--primary-color);
  align-self: center;
  margin-bottom: 26.5rem;
}

.contact {
  display: flex;
}

.contact__form {
  flex-basis: 50%;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
}

.contact__form form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
}

.contact__form form button {
  width: 11.3rem;
  height: 4.4rem;
  font-size: 1.7rem;
}

.contact__form label {
  font-size: 5rem;
  color: var(--white);
}

.contact__form form input {
  background: var(--primary-color);
  color: var(--white);
  border-color: transparent;
  border-bottom-color: var(--white);
  margin: 1.75rem 0;
}

.contact__map {
  flex-basis: 50%;
}

.contact__map iframe {
  width: 100%;
  height: 40.5rem;
}

/* end main */

/* start footer */
footer {
  background: var(--black);
}
.footer {
  display: flex;
  padding-top: 8.6rem;
  padding-bottom: 5.5rem;
}

.footer__link,
.footer__find,
.footer__news {
  flex-basis: calc(100% / 3);
  margin: 0 1.9rem;
}

.footer h2 {
  font-family: var(--third-font);
  font-size: 4rem;
  color: var(--white);
  line-height: 2rem;
  margin-bottom: 3rem;
}

.footer p,
li {
  font-family: var(--fourth-font);
  font-size: 1.7rem;
  color: var(--white);
  line-height: 2.6rem;
}

.footer__news input {
  width: 18rem;
  height: 4rem;
}

.footer__news input:nth-of-type(2) {
  width: 11.2rem;
  height: 4rem;
  font-size: 1.7rem;
  background: var(--primary-color);
  color: var(--white);
  border-color: transparent;
}

/* end footer */

/* responsive for html */
@media screen and (max-width: 1438px) {
  html {
    font-size: 56.5%;
  }
}
@media screen and (max-width: 1250px) {
  html {
    font-size: 49.5%;
  }
}
@media screen and (max-width: 1025px) {
  html {
    font-size: 40.5%;
  }
}
@media screen and (max-width: 950px) {
  html {
    font-size: 37.5%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 35.5%;
  }
}
